body
{
    background: url(../images/bg.jpg)
    no-repeat center center fixed;
    background-size:cover;
}

div
{
    background-color: lightblue;
    width: 60%;
    margin:100px auto;
    text-align: center;
    border-radius: 25px;
}